.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@font-face {
  font-family: 'SF Pro Display';
  src: url('https://fonts.cdnfonts.com/sf-pro-display') format('opentype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 14px;
}

.cv-content{
  text-align: left;
}
.TextEditAble{
  display: block;
  text-align: left;
  width: 100%;
}
.TextEditAble:hover,.TextEditAble:focus {
  outline: #77a5cc dashed 1pt;
}
span.title_box{
  text-transform: uppercase;
  font-weight: bold;
  color: #b66d3a;
    font-size: 20px;
}
/* style modal */

.modal-body label{
  display: inline;
  padding-left: 0.5em;
}
.modal-body textarea{
  width: 100%;
}

.row-left{
  margin-bottom: 20px;
}